#root {
  background-image: url(../image/pb.png);
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
}

.box1 {
  width: 450px;
  background-color: black;
  margin: auto;
}

.box2 {
  /*width: 405px;*/
  justify-content: center;
  background-color: #000000;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 90px 80px repeat(3, 80px);
  gap: 15px;
  padding: 20px;
}

.input {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3c3d37;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-input {
  padding: 30px;
  border-style: none;
  width: 75%;
  font-size: 50px;
  background-color: #697565;
  color: aliceblue;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 1px 1px 10px #181c14;
  background-color: #3c3d37;
  border-radius: 30px;
  color: white;
  font-family: sans-serif;
}

.btn-yellow {
  background-color: rgb(206, 148, 41);
  grid-column: 4/5;
  grid-row: 4/5;
  grid-row: span 2/6;
}

.btn-red {
  background-color: rgb(224, 51, 51);
}

.box1,
.box2 {
  border-radius: 20px;
}

.rtl-input {
  text-align: right;
}
